<html lang='en'>
  <body class='prose'>
    <h1>Netlify - Astro - Supabase</h1>
    <ul>
      <li>
        <a href='/unstyled-poll'>Unstyled Poll</a>
      </li>
      <li>
        <a href='/styled-poll'>Styled Poll</a>
      </li>
    </ul>
  </body>
</html>
